*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color:white;
    font-family: 'Fragment Mono', monospace;    
    background: rgb(246,0,255);
    background: radial-gradient(circle, rgba(246,0,255,1) 45%, rgba(181,61,211,1) 78%);
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
}
.profile{
    text-align: center;
    margin-top: 20px;
}
#fotoPerfil{
    width: 100px;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow: 0px 0px 20px white;
}
.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0px;
}

.social img{
    width: 50px;
}
.link-list li{
    list-style: none;
    margin: 10px 20px;
    
}
.link-list li a{
    display: block;
    background-color: white;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(181,61,211,1);
    font-weight: bold;
}

.link-list li a span{
    color: grey;
    display: block;
    margin-top: 10px;
}
